/vendor
composer.lock
/node_modules
/public/storage
Homestead.yaml
Homestead.json
docker/data
.env
.user.ini
/index.html
/404.html
/.htaccess
storage/test
old_vendor
new_vendor
app/test/*
config/*_local.php
storage/app
storage/_old_app
storage/app/.gitignore
storage/app/public/.gitignore
composer.lock